# Eseguibili e file oggetto
*.exe
*.o
*.out
*.class

# Cartelle di output/build
build/
bin/
dist/
out/
.vscode/

# File generati dai test
tests/out_*.pgm
tests/out_*.tft
tests/project_C-2.txt
examples/*.pgm
tf_status.h
